Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flask-wtf==1.2.2
wtforms==3.2.1
stripe==12.2.0
tensorflow==2.19.0  # optional, if needed for predictions
opencv-python==4.11.0.86  # optional, if you process images
