{% extends "base.html" %}

{% block content %}
<body>

  
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h1>Info About 5 Diseases</h1>
            <h2>Cotton Plant Disease Management</h2>
            <p></p>
          </div>
  
          <ol style="list-style: none;">
                  <li><i class="ri-check-double-line"></i> Plow crop residue into the soil to reduce inoculum levels; provide plants with adequate irrigation and nutrients, particularly potassium; applications of appropriate foliar fungicides may be required on susceptible cultivars. </li>
                  <li><i class="ri-check-double-line"></i> Plow crop residue into the soil to reduce inoculum levels; provide plants with adequate irrigation and nutrients; applications of appropriate foliar fungicides may be required on susceptible cultivars. </li>
                <li><i class="ri-check-double-line"></i> Use on certified, disease-free seed; plant varieties with higher resistance to the disease in areas with a history of Fusarium diseases; fumigating the soil may reduce disease incidence. </li>
                  <li><i class="ri-check-double-line"></i> Use available resistant varieties. Follow crop rotation. Spray suitable fungicide. </li>
                <li><i class="ri-check-double-line"></i> The use of resistant cotton varieties is the most effective method of controlling the disease; cultural practices such as plowing crop residue into soil after harvest can also limit disease emergence. </li>
                <li><i class="ri-check-double-line"></i> If aphid population is limited to just a few leaves or shoots then the infestation can be pruned out to provide control; check transplants for aphids before planting; use tolerant varieties if available; reflective mulches such as silver colored plastic can deter aphids from feeding on plants; sturdy plants can be sprayed with a strong jet of water to knock aphids from leaves; insecticides are generally only required to treat aphids if the infestation is very high - plants generally tolerate low and medium level infestation; insecticidal soaps or oils such as neem or canola oil are usually the best method of control; always check the labels of the products for specific usage guidelines prior to use. <a class="cta-btn align-middle" href="https://plantvillage.psu.edu/topics/cotton/infos/diseases_and_pests_description_uses_propagation" target="_blank">Source</a></li>
              </ol>
  
  
  
  <!--        <div class="row">-->
  
  <!--          <div class="col-lg-6">-->
  <!--            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">-->
  <!--              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>-->
  <!--              <div class="member-info">-->
  <!--                <h4>Walter White</h4>-->
  <!--                <span>Chief Executive Officer</span>-->
  <!--                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>-->
  <!--                <div class="social">-->
  <!--                  <a href=""><i class="ri-twitter-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-facebook-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-instagram-fill"></i></a>-->
  <!--                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  
  <!--          <div class="col-lg-6 mt-4 mt-lg-0">-->
  <!--            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">-->
  <!--              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>-->
  <!--              <div class="member-info">-->
  <!--                <h4>Sarah Jhonson</h4>-->
  <!--                <span>Product Manager</span>-->
  <!--                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>-->
  <!--                <div class="social">-->
  <!--                  <a href=""><i class="ri-twitter-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-facebook-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-instagram-fill"></i></a>-->
  <!--                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  
  <!--          <div class="col-lg-6 mt-4">-->
  <!--            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">-->
  <!--              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>-->
  <!--              <div class="member-info">-->
  <!--                <h4>William Anderson</h4>-->
  <!--                <span>CTO</span>-->
  <!--                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>-->
  <!--                <div class="social">-->
  <!--                  <a href=""><i class="ri-twitter-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-facebook-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-instagram-fill"></i></a>-->
  <!--                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  
  <!--          <div class="col-lg-6 mt-4">-->
  <!--            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">-->
  <!--              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>-->
  <!--              <div class="member-info">-->
  <!--                <h4>Amanda Jepson</h4>-->
  <!--                <span>Accountant</span>-->
  <!--                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>-->
  <!--                <div class="social">-->
  <!--                  <a href=""><i class="ri-twitter-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-facebook-fill"></i></a>-->
  <!--                  <a href=""><i class="ri-instagram-fill"></i></a>-->
  <!--                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  
          </div>
  
        </div>
      </section><!-- End Team Section -->

     

{% endblock %}
  </body>
